.array-container {
    position: absolute;
    left: 50px;
    /* top: 100px; */
}

.array-bar {
    width: 13px;
    background-color: turquoise;
    display: inline-block;
    margin: 0 1px;
}
.action-Bar {
    position: fixed;
    left: 0;
    bottom: 0;
    display: inline-block;
    background-color: rgb(135, 135, 208);
    width: 100%;
    height: 150px;
    

}
.btn-newArray {
    pointer-events: auto;
    cursor: pointer;
    background: #a1a9ad;
    border: none;
    padding: 1.5rem 3rem;
    align-items: center;
    margin: 10px 10px 10px 10px;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;

}